[submodule "source/language_filter_ultra/lib/ffmpeg"]
	path = source/language_filter_ultra/lib/ffmpeg
	url = https://github.com/Josh5/unmanic.plugin.helpers.ffmpeg
[submodule "source/language_whisper_ultra/lib/ffmpeg"]
	path = source/language_whisper_ultra/lib/ffmpeg
	url = https://github.com/Josh5/unmanic.plugin.helpers.ffmpeg
[submodule "source/stereo_transcoder_ultra/lib/ffmpeg"]
	path = source/stereo_transcoder_ultra/lib/ffmpeg
	url = https://github.com/Josh5/unmanic.plugin.helpers.ffmpeg
[submodule "source/strip_image_streams/lib/ffmpeg"]
	path = source/strip_image_streams/lib/ffmpeg
	url = https://github.com/Josh5/unmanic.plugin.helpers.ffmpeg
[submodule "source/codec_type_filter_ultra/lib/ffmpeg"]
	path = source/codec_type_filter_ultra/lib/ffmpeg
	url = https://github.com/Josh5/unmanic.plugin.helpers.ffmpeg
[submodule "source/audio_transcoder_ultra/lib/ffmpeg"]
	path = source/audio_transcoder_ultra/lib/ffmpeg
	url = https://github.com/Josh5/unmanic.plugin.helpers.ffmpeg
